
@{
    ViewData["Title"] = ViewData["Title"] ?? "用户管理";
    ViewData["Version"] = "20200109";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style{
    <!--vue-treeselect-->
    <link rel="stylesheet" href="~/lib/vue-treeselect/dist/vue-treeselect.min.css">
}
@section script{
    <!--vue-treeselect-->
    <script src="~/lib/vue-treeselect/dist/vue-treeselect.umd.min.js"></script>
}
<div class="box" id="vmBox">
    <button type="button" id="btn_delete_main" class="btn btn-default" style="margin:10px;" v-on:click="exportExcel">导出</button>
    <button type="button" id="btn_add_main" class="btn btn-success" style="margin:10px;" data-toggle="modal" v-on:click="add">新增</button>
    <button type="button" id="btn_delete_main" class="btn btn-warning" style="margin:10px;" v-on:click="deleteSelect">删除</button>
    <v-table is-vertical-resize
             :vertical-resize-offset='60'
             is-horizontal-resize
             style="width:100%"
             :multiple-sort="false"
             :min-height="350"
             even-bg-color="#f2f2f2"
             :title-rows="tableConfig.titleRows"
             :columns="tableConfig.columns"
             :table-data="tableConfig.tableData"
             row-hover-color="#eee"
             row-click-color="#edf7ff"
             :select-all="selectALL"
             :select-change="selectChange"
             :select-group-change="selectGroupChange"
             v-on:sort-change="sortChange"
             :paging-index="(pageIndex-1)*pageSize"></v-table>
    <div style="margin-top:5px;">
        <v-pagination v-on:page-change="pageChange" v-on:page-size-change="pageSizeChange" :page-size-option="[15,20,30]" :total="total" :page-size="pageSize" :layout="['total', 'prev', 'pager', 'next', 'sizer', 'jumper']"></v-pagination>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">用户管理</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="myForm" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="usersName">用户名</label>
                            <div class="col-sm-4">
                                <input class="form-control" v-model="row.usersName" name="usersName" id="usersName" type="text" placeholder="用户名" />
                            </div>
                            <label class="col-sm-2 control-label" for="password">密码</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="password" name="password" v-model="row.password" type="password" placeholder="密码" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="ds_host">真实姓名</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="realName" name="realName" v-model="row.realName" type="text" placeholder="真实姓名" />
                            </div>
                            <label class="col-sm-2 control-label" for="telephone">电话</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="telephone" name="telephone" v-model="row.telephone" type="text" placeholder="电话" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="col-sm-2 control-label">地址</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="address" name="address" v-model="row.address" type="text" placeholder="地址" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="unitname" class="col-sm-2 control-label">单位</label>
                            <div class="col-sm-4">
                                <treeselect v-model="row.unitId" :multiple="false" name="unitid" id="unitid" :options="options" />
                            </div>
                            <label for="status" class="col-sm-2 control-label">数据状态</label>
                            <div class="col-sm-4">
                                <select id="status" v-model="row.status" field="status" name="status" class="form-control">
                                    <option value="1">启用</option>
                                    <option value="0">停用</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">邮箱</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="email" name="email" v-model="row.email" type="text" placeholder="邮箱" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="remark" class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" name="remark" id="remark" v-model="row.remark" placeholder="备注"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" v-on:click="operateData">提交</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--分配角色-->
    <div class="modal fade" id="roleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">角色分配</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">用户</label>
                            <div class="col-sm-10">
                                <label class="col-sm-3 control-label"> {{row.usersName}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="remark" class="col-sm-2 control-label">角色</label>
                            <div class="col-sm-10">
                                <select id="roleId" v-model="row.rolesid" class="form-control">
                                    <option value="0">&nbsp;&nbsp;</option>
                                    <option v-for="(item,index) in allRoles" :value="item.rolesid">{{item.rolesname}}</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" v-on:click="saveUsersRole">提交</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--分配菜单-->
    <div class="modal fade" id="deviceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">车辆分配</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-10">
                                <label class="col-sm-3 control-label"> {{row.usersName}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="remark" class="col-sm-2 control-label">车辆列表</label>
                            <div class="col-sm-10">
                                <el-tree :data="nodes" style="overflow-y:scroll; height:400px;" :default-checked-keys="defaultCheckedNodes" node-key="id" ref="tree" v-on:check-change="handleCheckChange" show-checkbox></el-tree>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" v-on:click="saveUsersDevice">提交</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
<script>
    // VUE-TREESELECT
    Vue.component('treeselect', VueTreeselect.Treeselect);
    // 自定义列组件
    Vue.component('table-operation', {
        template: `<span>
        <a href="" v-on:click.stop.prevent="update(rowData,index)">编辑</a>&nbsp;
        <a href="" v-on:click.stop.prevent="deleteRow(rowData,index)">删除</a>
        <a href="" v-on:click.stop.prevent="AssignRole(rowData,index)">分配角色</a>
        <a href="" v-on:click.stop.prevent="AssignDevice(rowData,index)">分配车辆</a>
        </span>`,
        props: {
            rowData: {
                type: Object
            },
            field: {
                type: String
            },
            index: {
                type: Number
            }
        },
        methods: {
            update() {
                vm.row = this.rowData;
                vm.pageMode = "edit";
                $('#myModal').modal({backdrop: 'static'});
                // 参数根据业务场景随意构造
                let params = { type: 'edit', index: this.index, rowData: this.rowData };
                this.$emit('on-custom-comp', params);
            },

            deleteRow() {
                vm.row = this.rowData;
                vm.pageMode = "delete";
                vm.operateData(vm.row);
                // 参数根据业务场景随意构造
                let params = { type: 'delete', index: this.index };
                this.$emit('on-custom-comp', params);

            },

            AssignRole() {
                vm.row = this.rowData;
                $('#roleModal').modal({ backdrop: 'static' });
            },

            AssignDevice() {
                vm.row = this.rowData;
                vm.$refs.tree.setCheckedKeys([]);
                vm.defaultCheckedNodes = [];
                //查询当前用户所拥有的设备并使其选中
                axios.post('@Url.Action("QueryUsersDevice")', Qs.stringify({ userId: this.rowData.usersId })).then(response => {
                    vm.defaultCheckedNodes = response.data;
                    //打开模态窗口
                    $('#deviceModal').modal({ backdrop: 'static' });
                }).catch(function (error) {
                    console.log(error);
                });
            }
        }
    });
    var vm = new Vue({
        el: "#vmBox",
        data: {
            pageMode: 'add',
            total: 0,
            pageIndex: 1,
            pageSize: 15,
            tableConfig: {
                multipleSort: false,
                tableData: [
                ],
                columns: [
                    { width: 60, titleAlign: 'center', columnAlign: 'center', type: 'selection' },
                    {
                        field: 'custome', title: '序号', width: 50, titleAlign: 'center', columnAlign: 'center',
                        formatter: function (rowData, index, pagingIndex) {
                            var currentIndex = index + pagingIndex;
                            return '<span style="color:red;font-weight: bold;">' + (currentIndex + 1) + '</span>';
                        }, isFrozen: false
                    },
                    { field: 'usersName', title: '用户名', width: 100, titleAlign: 'center', columnAlign: 'center', isResize: true },
                    {
                        field: 'unitName', title: '单位', width: 100, titleAlign: 'center', columnAlign: 'center', isResize: true, formatter: function (rowData, index, pagingIndex) {
                            if (rowData.unit) {
                                return rowData.unit.unitname;
                            }
                        }
                    },
                    //{ field: 'realName', title: '真实姓名', width: 100, titleAlign: 'center', columnAlign: 'center', isResize: true },
                    { field: 'telephone', title: '电话', width: 120, titleAlign: 'center', columnAlign: 'center', isResize: true },
                    //{ field: 'address', title: '地址', width: 240, titleAlign: 'center', columnAlign: 'left', isResize: true },
                    { field: 'email', title: '邮箱', width: 150, titleAlign: 'center', columnAlign: 'center', isResize: true },
                    { field: 'statusStr', title: '数据状态', width: 80, titleAlign: 'center', columnAlign: 'center', isResize: true },
                    { field: 'createTime', title: '创建时间', width: 150, titleAlign: 'center', columnAlign: 'center', isResize: true },
                    { field: 'createStr', title: '创建人', width: 100, titleAlign: 'center', columnAlign: 'center', isResize: true },
                    { field: 'remark', title: '备注', width: 150, titleAlign: 'center', columnAlign: 'left', isResize: true },
                    { field: 'custome-adv', title: '操作', width: 200, titleAlign: 'center', columnAlign: 'center', componentName: 'table-operation', isResize: true },
                ],
                titleRows: [

                ],
            },
            row: {},
            selectedRows: [],
            allRoles: [],
            nodes: [],
            defaultCheckedNodes: [],
            options: [],
        },
        methods: {
            getTableData() {
                var search = { pageIndex: this.pageIndex, pageSize: this.pageSize ,orderBy:' a.usersId desc'};
                axios.post('@Url.Action("QueryUsers")', Qs.stringify(search)).then(function (response) {
                    var pagination = response.data;
                    vm.tableConfig.tableData = pagination.data;
                    vm.total = pagination.total;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            pageChange(pageIndex) {
                this.pageIndex = pageIndex;
                this.getTableData();
            },
            pageSizeChange(pageSize) {

                this.pageIndex = 1;
                this.pageSize = pageSize;
                this.getTableData();
            },
            sortChange(params) {
                if (params.height.length > 0) {
                    this.tableConfig.tableData.sort(function (a, b) {

                        if (params.height === 'asc') {

                            return a.height - b.height;
                        } else if (params.height === 'desc') {

                            return b.height - a.height;
                        } else {

                            return 0;
                        }
                    });
                }
            },
            selectALL(selection){
                this.selectedRows = selection;
            },
            selectChange(selection,rowData){
                this.selectedRows = selection;
            },
            selectGroupChange(selection){
            },
            add() {
                $("#myForm").data('bootstrapValidator').destroy();
                this.validataForm();
                this.pageMode = 'add'; this.row = { status: 1 };
                $('#myModal').modal({ backdrop: 'static' });
            },
            operateData() {
                $('#myForm').data('bootstrapValidator').validate();//启用验证
                var flag = $('#myForm').data('bootstrapValidator').isValid()//验证是否通过true/false
                if (!flag) {
                    return;
                }
                var url = '';
                switch (this.pageMode) {
                    case "edit":
                        url = '@Url.Action("Update")';
                        break;
                    case "delete":
                        url = '@Url.Action("Delete")';
                        if (!confirm('确认删除吗')) {
                            url = undefined;
                        }
                        break;
                    default:
                        url = '@Url.Action("Add")';
                        break;
                }
                if (url) {
                    axios.post(url, Qs.stringify(this.row)).then(function (response) {
                        var commonResult = response.data;
                        if (commonResult.isSuccess) {
                            $('#myModal').modal('hide');
                            vm.getTableData();
                        } else {
                            vm.$message.error(commonResult.message);
                        }
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            },
            deleteSelect() {
                if (Array.isArray(this.selectedRows) && this.selectedRows.length > 0) {
                    if (confirm('确认删除吗')) {
                        axios.post('@Url.Action("BatchDelete")', Qs.stringify({ exEntities: this.selectedRows })).then(function (response) {
                            var commonResult = response.data;
                            if (commonResult.isSuccess) {
                                vm.getTableData();
                            } else {
                                vm.$message.error(commonResult.message);
                            }
                        }).catch(function (error) {
                            console.log(error);
                        });
                    }
                }
            },
            queryAllRoles() {
                axios.post('@Url.Action("QueryAllRoles")', {}).then(response=> {
                    vm.allRoles = response.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            saveUsersRole() {
                axios.post('@Url.Action("SaveUsersRole")', Qs.stringify({ usersid: this.row.usersId, rolesId: this.row.rolesid })).then(response => {
                    var commonResult = response.data;
                    if (commonResult.isSuccess) {
                        $('#roleModal').modal('hide');
                        vm.getTableData();
                    } else {
                        vm.$message.error(commonResult.message);
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },

            handleCheckChange(data, checked, indeterminate) {
                //console.log(data, checked, indeterminate);
            },
            queryDevices() {
                axios.post('@Url.Action("QueryDevices")', {}).then(response=> {
                    vm.nodes = response.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            saveUsersDevice() {
                var checkedNodes = this.$refs.tree.getCheckedNodes();

                axios.post('@Url.Action("SaveUsersDevice")', { nodes: checkedNodes, userId: this.row.usersId }).then(response => {
                    var commonResult = response.data;
                    if (commonResult.isSuccess) {
                        $('#deviceModal').modal('hide');
                    } else {
                        vm.$message.error(commonResult.message);
                    }
                }).catch(function (error) {
                    console.log(error);
                });

            },
            queryUnitTree() {
                axios.post('@Url.Action("QueryUnitTree")', {}).then(function (response) {
                    vm.options = response.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            exportExcel() {
                const loading = this.$loading({
                    lock: true,
                    text: '正在导出数据',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                var search = { pageIndex: this.pageIndex, pageSize: this.pageSize, orderBy: ' a.usersId desc' };
                axios({
                    method: 'post',
                    data: Qs.stringify(search),
                    url: 'ExportExcel',
                    responseType: 'blob'
                }).then(function (res) {
                    const blob = new Blob([res.data])
                    const fileName = '用户信息.xlsx'
                    if ('download' in document.createElement('a')) { // 非IE下载
                        const elink = document.createElement('a')
                        elink.download = fileName
                        elink.style.display = 'none'
                        elink.href = URL.createObjectURL(blob)
                        document.body.appendChild(elink)
                        elink.click()
                        URL.revokeObjectURL(elink.href) // 释放URL 对象
                        document.body.removeChild(elink)
                    } else { // IE10+下载
                        navigator.msSaveBlob(blob, fileName)
                    }
                    loading.close();
                }).catch(function (error) {
                    console.log(error);
                    loading.close();
                });
            },
            validataForm() {
                //表单验证
                $('#myForm').bootstrapValidator({
                    message: '',
                    feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        usersName: {
                            validators: {
                                notEmpty: {
                                    message: '用户名不能位空'
                                },
                                stringLength: {
                                    min: 3,
                                    max: 30,
                                    message: '用户名必须大于3，小于30个字'
                                }
                            }
                        },
                        password: {
                            validators: {
                                notEmpty: {
                                    message: '密码不能位空'
                                },
                                stringLength: {
                                    min: 5,
                                    max: 30,
                                    message: '密码必须大于6，小于30个字'
                                },
                                different: {
                                    field: 'usersName',
                                    message: '用户名和密码不能相同'
                                }
                            }
                        },
                    }
                });
            }
        },
        mounted() {
            this.getTableData();
            this.queryAllRoles();
            this.queryDevices();
            this.validataForm();
            this.queryUnitTree();
        },
    });
</script>
