
@{
    ViewData["Title"] = ViewData["Title"] ?? "车辆信息管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Version"] = "20200707";
}

@section style{
    <!--vue-treeselect-->
    <link rel="stylesheet" href="~/lib/vue-treeselect/dist/vue-treeselect.min.css">
}
@section script{
    <!--vue-treeselect-->
    <script src="~/lib/vue-treeselect/dist/vue-treeselect.umd.min.js"></script>
    <!--simplehelper-->
    <script src="~/dist/js/simpleHelper.js"></script>
}
<div class="box" id="vmBox">
    <table style="margin-left:5px;">
        <tr>
            <th>单位：</th>
            <td>
                <div class="input-group">
                    <!-- /btn-group -->
                    <treeselect v-model="searchWhere.unitid" style="width:300px;" :multiple="false" name="searchUnitid" id="searchUnitid" v-on:select="treeSelect" :options="options" />
                </div>
            </td>
            <th>内部编号:</th>
            <td>
                <div class="input-group">
                    <!-- /btn-group -->
                    <input type="text" class="form-control" v-model="searchWhere.name">
                </div>
            </td>
            <th>设备号：</th>
            <td>
                <div class="input-group">
                    <!-- /btn-group -->
                    <input type="text" class="form-control" v-model="searchWhere.code">
                </div>

            </td>
            <td>
                <button type="button" id="btn_delete_main" class="btn btn-primary" style="margin:10px;" v-on:click="select">查询</button>
                <button type="button" id="btn_delete_main" class="btn btn-default" style="margin:10px;" v-on:click="exportExcel">导出</button>
                <button type="button" id="btn_add_main" class="btn btn-success" style="margin:10px;" data-toggle="modal" v-on:click="add">新增</button>
                <button type="button" id="btn_delete_main" class="btn btn-warning" style="margin:10px;" v-on:click="deleteSelect">删除</button>
            </td>
        </tr>
    </table>
    <v-table is-vertical-resize
             :vertical-resize-offset='60'
             is-horizontal-resize
             style="width:100%"
             :multiple-sort="false"
             :min-height="350"
             even-bg-color="#f2f2f2"
             :title-rows="tableConfig.titleRows"
             :columns="tableConfig.columns"
             :table-data="tableConfig.tableData"
             row-hover-color="#eee"
             row-click-color="#edf7ff"
             :select-all="selectALL"
             :select-change="selectChange"
             :select-group-change="selectGroupChange"
             v-on:sort-change="sortChange"
             :paging-index="(pageIndex-1)*pageSize"></v-table>
    <div style="margin-top:5px;">
        <v-pagination v-on:page-change="pageChange" v-on:page-size-change="pageSizeChange" :page-size-option="[15,20,30]" :total="total" :page-size="pageSize" :layout="['total', 'prev', 'pager', 'next', 'sizer', 'jumper']"></v-pagination>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">车辆管理</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" id="myForm">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="license">显示名称</label>
                            <div class="col-sm-4">
                                <input class="form-control" v-model="row.license" id="license" name="license" type="text" placeholder="显示名称" />
                            </div>
                            <label class="col-sm-2 control-label" for="mac">识别码</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="mac" name="mac" v-model="row.mac" type="text" placeholder="识别码" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="carno">车牌号</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="carno" name="carno" v-model="row.carno" type="text" placeholder="车牌号" />
                            </div>
                            <label class="col-sm-2 control-label" for="sim">SIM卡号</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="sim" name="sim" v-model="row.sim" type="text" placeholder="SIM卡号" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="status" class="col-sm-2 control-label">所属单位</label>
                            <div class="col-sm-10">
                                <treeselect v-model="row.unitid" name="unitid" :multiple="false" v-on:select="treeSelect" :options="options" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="ip">服务器IP</label>
                            <div class="col-sm-4">
                                <select class="form-control">
                                    <option>218.6.242.32</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label" for="carno">终端类型</label>
                            <div class="col-sm-4">
                                <select class="form-control">
                                    <option>朝宇慧科V5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="ip">车辆类别</label>
                            <div class="col-sm-4">
                                <select v-model="row.usage" v-on:change="selectUsage" class="form-control">
                                    <option :value="item.id" v-for="(item,index) in usage">
                                        {{item.name}}
                                    </option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label" for="usagesub">车辆子类别</label>
                            <div class="col-sm-4">
                                <select v-model="row.usagE_SUB" class="form-control">
                                    <option v-for="(item,index) in usagesub" :value="item.id">{{item.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="tecH_PARAMETERS">技术参数</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="tecH_PARAMETERS" name="tecH_PARAMETERS" v-model="row.tecH_PARAMETERS" type="text" placeholder="技术参数" />
                            </div>
                            <label class="col-sm-2 control-label" for="tecH_PARAMETERS_BRIEF">参数简要</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="tecH_PARAMETERS_BRIEF" name="tecH_PARAMETERS_BRIEF" v-model="row.tecH_PARAMETERS_BRIEF" type="text" placeholder="参数简要" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="tecH_PARAMETERS">车辆颜色</label>
                            <div class="col-sm-4">
                                <select class="form-control" v-model="row.color">
                                    <option value="null">无</option>
                                    <option value="1">红</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label" for="branD_MODEL">厂牌型号</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="branD_MODEL" name="branD_MODEL" v-model="row.branD_MODEL" type="text" placeholder="厂牌型号" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="chassisno">车架号</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="chassisno" name="chassisno" v-model="row.chassisno" type="text" placeholder="车架号" />
                            </div>
                            <label class="col-sm-2 control-label" for="engineno">发动机号</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="engineno" name="engineno" v-model="row.engineno" type="text" placeholder="发动机号" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cardesc" class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="cardesc" v-model="row.cardesc" placeholder="备注"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" v-on:click="operateData">提交</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--分配报警区域 -->
    <div class="modal fade" id="alarmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">报警区域分配</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">车辆</label>
                            <div class="col-sm-10">
                                <label class="col-sm-3 control-label"> {{row.license}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="remark" class="col-sm-2 control-label">报警类型</label>
                            <div class="col-sm-4">
                                <select id="alarmStatus" v-model="carArea.alarmtype" class="form-control">
                                    <option value="0">入区报警</option>
                                    <option value="1">出区报警</option>
                                    <option value="2">出入报警</option>
                                </select>
                            </div>
                            <label for="remark" class="col-sm-2 control-label">区域状态</label>
                            <div class="col-sm-4">
                                <select id="status" v-model="carArea.status" class="form-control">
                                    <option value="1">启用</option>
                                    <option value="0">停用</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="remark" class="col-sm-2 control-label">报警区域</label>
                            <div class="col-sm-10">
                                <treeselect v-model="carArea.areaid" name="areaid" :multiple="false" :normalizer="normalizer" :options="alarmAreaOptions" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" v-on:click="saveCarArea">绑定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
<script>
    // VUE-TREESELECT
    Vue.component('treeselect', VueTreeselect.Treeselect);
    // 自定义列组件
    Vue.component('table-operation', {
        template: `<span>
        <a href="" v-on:click.stop.prevent="update(rowData,index)">编辑</a>&nbsp;
        <a href="" v-on:click.stop.prevent="deleteRow(rowData,index)">删除</a>
        </span>`,
        //<a href="" v-on:click.stop.prevent="setAlarmArea(rowData,index)">设置报警区域</a>&nbsp;
        props: {
            rowData: {
                type: Object
            },
            field: {
                type: String
            },
            index: {
                type: Number
            }
        },
        methods: {
            setAlarmArea() {
                vm.row = this.rowData;
                vm.pageMode = "edit";
                $('#alarmModal').modal();
                // 参数根据业务场景随意构造
                let params = { type: 'edit', index: this.index, rowData: this.rowData };
                this.$emit('on-custom-comp', params);
            },
            update() {
                vm.validataForm();
                vm.row = this.rowData;
                console.log(vm.row);
                vm.pageMode = "edit";
                vm.selectUsage();
                $('#myModal').modal();
                // 参数根据业务场景随意构造
                let params = { type: 'edit', index: this.index, rowData: this.rowData };
                this.$emit('on-custom-comp', params);
            },
            deleteRow() {
                vm.row = this.rowData;
                vm.pageMode = "delete";
                vm.operateData(vm.row);
                // 参数根据业务场景随意构造
                let params = { type: 'delete', index: this.index };
                this.$emit('on-custom-comp', params);

            },
        }
    });
    var vm = new Vue({
        el: "#vmBox",
        data: {
            pageMode: 'add',
            total: 0,
            pageIndex: 1,
            pageSize: 15,
            tableConfig: {
                multipleSort: false,
                tableData: [
                ],
                columns: [
                    { width: 60, titleAlign: 'center', columnAlign: 'center', type: 'selection' },
                    {
                        field: 'custome', title: '序号', width: 50, titleAlign: 'center', columnAlign: 'center',
                        formatter: function (rowData, index, pagingIndex) {
                            var currentIndex = index + pagingIndex;
                            return '<span style="color:red;font-weight: bold;">' + (currentIndex + 1) + '</span>';
                        }, isFrozen: false
                    },
                    {
                        field: 'unit.unitname', title: '单位', width: 150, titleAlign: 'center', columnAlign: 'center', isResize: true, formatter: function (rowData, index, pagingIndex) {
                            if (rowData.unit != null) {
                                return rowData.unit.unitname;
                            }
                            return "";
                        }
                    },
                    { field: 'license', title: '内部编号', width: 100, titleAlign: 'center', columnAlign: 'center', isResize: true },
                    { field: 'carno', title: '车牌号', width: 100, titleAlign: 'center', columnAlign: 'center', isResize: true },
                    { field: 'mac', title: '设备号', width: 100, titleAlign: 'center', columnAlign: 'center', isResize: true },
                    { field: 'engineno', title: '发动机号', width: 180, titleAlign: 'center', columnAlign: 'center', isResize: true },
                    { field: 'chassisno', title: '车架号', width: 150, titleAlign: 'center', columnAlign: 'center', isResize: true },
                    { field: 'tecH_PARAMETERS', title: '技术参数', width: 180, titleAlign: 'center', columnAlign: 'center', isResize: true },
                    { field: 'tecH_PARAMETERS_BRIEF', title: '参数简要', width: 150, titleAlign: 'center', columnAlign: 'center', isResize: true },
                    { field: 'custome-adv', title: '操作', width: 200, titleAlign: 'center', columnAlign: 'center', componentName: 'table-operation', isResize: true },
                ],
                titleRows: [

                ],
            },
            row: {},
            selectedRows: [],
            options: [],
            searchWhere: {
                name: '',
                unitid: null,
                code: ''
            },
            alarmAreaOptions: [],
            carArea: { alarmtype: 2, status: 1, areaid: null },
            usage: [
                {
                    id: 1, name: '灭火消防车', sub: [{ id: 1, name: '水罐消防车' }, { id: 2, name: '泡沫消防车' }, { id: 3, name: '压缩空气泡沫消防车' },
                    { id: 4, name: '泡沫干粉联用消防车' }, { id: 5, name: '干粉消防车' }]
                },
                {   id: 2, name: '举高消防车', sub: [{ id: 6, name: '云梯消防车' }, { id: 7, name: '登高平台消防车' }, { id: 8, name: '举高喷射消防车' }] },
                {
                    id: 3, name: '专勤消防车', sub: [{ id: 9, name: '抢险救援消防车' }, { id: 10, name: '照明消防车' }, { id: 11, name: '排烟消防车' }, { id: 12, name: '化学事故抢险救援' },
                        { id: 13, name: '防化洗消消防车' }, { id: 14, name: '核生化侦检消防车' }, { id: 15, name: '通信指挥消防车' }]
                },
                {
                    id: 4, name: '战勤保障车', sub: [{ id: 16, name: '供气消防车' }, { id: 17, name: '器材消防车' }, { id: 18, name: '供液消防车' }, { id: 19, name: '供水消防车' },
                        { id: 20, name: '自装卸式消防车' }, { id: 21, name: '装备抢修车' }, { id: 22, name: '饮食保障车' }, { id: 23, name: '加油车' },
                        { id: 24, name: '运兵车' }, { id: 25, name: '宿营车' }, { id: 26, name: '卫勤保障车' }, { id: 27, name: '发电车' },
                        { id: 28, name: '淋浴车' }, { id: 29, name: '工程机械车辆' }]
                },
                { id: 5, name: '公务车', sub: [] },],
            usagesub:[],

        },
        methods: {
            selectUsage() {
                for (var i = 0; i < this.usage.length; i++) {
                    if (this.usage[i].id == this.row.usage) {
                        this.usagesub = this.usage[i].sub;
                    }
                }
            },
            normalizer(node) {
                return {
                    id: node.AREAID,
                    label: node.AREANAME,
                }
            },
            getTableData() {
                var strWhere = ' and a.license like \'%' + this.searchWhere.name + '%\'';
                if (this.searchWhere.unitid != null) {
                    var node = recuTreeSelectNodes(this.searchWhere.unitid, this.options);
                    var ids = getUnitChildrenId(node);
                    strWhere += ' and a.unitid  in (' + ids.join(',') + ')';
                }
                if ($.trim(this.searchWhere.code) != "") {
                    strWhere += ' and a.mac like \'%' + this.searchWhere.code + '%\'';
                }
                var search = { pageIndex: this.pageIndex, pageSize: this.pageSize, where: strWhere, orderBy: ' a.carid desc' };
                axios.post('@Url.Action("Query")', Qs.stringify(search)).then(function (response) {
                    var pagination = response.data;
                    vm.tableConfig.tableData = pagination.data;
                    vm.total = pagination.total;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            pageChange(pageIndex) {
                this.pageIndex = pageIndex;
                this.getTableData();
            },
            pageSizeChange(pageSize) {
                this.pageIndex = 1;
                this.pageSize = pageSize;
                this.getTableData();
            },
            sortChange(params) {
                if (params.height.length > 0) {
                    this.tableConfig.tableData.sort(function (a, b) {

                        if (params.height === 'asc') {

                            return a.height - b.height;
                        } else if (params.height === 'desc') {

                            return b.height - a.height;
                        } else {

                            return 0;
                        }
                    });
                }
            },
            selectALL(selection){
                console.log('select-aLL', selection);
                this.selectedRows = selection;
            },
            selectChange(selection,rowData){
                console.log('select-change', selection, rowData);
                this.selectedRows = selection;
            },
            selectGroupChange(selection){
                console.log('select-group-change',selection);
            },
            add() {
                this.validataForm();
                this.pageMode = 'add'; this.row = { };
                $('#myModal').modal({ backdrop: 'static' });
            },
            operateData() {
                if (this.pageMode !="delete") {
                    $('#myForm').data('bootstrapValidator').validate();//启用验证
                    var flag = $('#myForm').data('bootstrapValidator').isValid()//验证是否通过true/false
                    if (!flag) {
                        return;
                    }
                }
                var url = '';
                switch (this.pageMode) {
                    case "edit":
                        url = '@Url.Action("Update")';
                        break;
                    case "delete":
                        url = '@Url.Action("Delete")';
                        if (!confirm('确认删除吗')) {
                            url = undefined;
                        }
                        break;
                    default:
                        url = '@Url.Action("Add")';
                        break;
                }
                if (url) {
                    axios.post(url, Qs.stringify(this.row)).then(function (response) {
                        var commonResult = response.data;
                        if (commonResult.isSuccess) {
                            $('#myModal').modal('hide');
                            vm.getTableData();
                        } else {
                            vm.$message.error(commonResult.message);
                        }
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            },
            deleteSelect() {
                if (Array.isArray(this.selectedRows) && this.selectedRows.length > 0) {
                    if (confirm('确认删除吗')) {
                        axios.post('@Url.Action("BatchDelete")', Qs.stringify({ exEntities: this.selectedRows })).then(function (response) {
                            var commonResult = response.data;
                            if (commonResult.isSuccess) {
                                $('#myModal').modal('hide');
                                vm.getTableData();
                            } else {
                                vm.$message.error(commonResult.message);
                            }
                        }).catch(function (error) {
                            console.log(error);
                        });
                    }
                }
            },
            select() {
                this.getTableData();
            },
            treeSelect(node) {
                //this.row.p_ORG_CODE = node.tag;
            },
            queryUnitTree() {
                axios.post('@Url.Action("QueryUnitTree")', {}).then(function (response) {
                    vm.options = response.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            saveCarArea() {
                if (this.carArea.areaid == null) {
                    alert("请选择报警区域");
                    return;
                }
                this.carArea.carid = this.row.carid;
                axios.post('@Url.Action("SaveCarArea")', Qs.stringify(this.carArea)).then(function (response) {
                    var commonResult = response.data;
                    if (commonResult.isSuccess) {
                        $('#myModal').modal('hide');
                        vm.getTableData();
                    } else {
                        vm.$message.error(commonResult.message);
                    }
                }).catch(function (error) {
                    console.log(error);
                });
                //重置一下
                this.carArea = { alarmtype: 2, status: 1, areaid: null };
            },
            exportExcel() {
                const loading = this.$loading({
                    lock: true,
                    text: '正在导出数据',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                var strWhere = ' and a.license like \'%' + this.searchWhere.name + '%\'';
                if (this.searchWhere.unitid != null) {
                    var node = recuTreeSelectNodes(this.searchWhere.unitid, this.options);
                    var ids = getUnitChildrenId(node);
                    strWhere += ' and a.unitid  in (' + ids.join(',') + ')';
                }
                if ($.trim(this.searchWhere.code) != "") {
                    strWhere += ' and a.mac like \'%' + this.searchWhere.code + '%\'';
                }
                var search = { pageIndex: this.pageIndex, pageSize: this.pageSize, where: strWhere, orderBy: ' a.carid desc' };
                axios({
                    method: 'post',
                    data: Qs.stringify(search),
                    url: 'ExportExcel',
                    responseType: 'blob'
                }).then(function (res) {
                    const blob = new Blob([res.data])
                    const fileName = '车辆信息.xlsx'
                    if ('download' in document.createElement('a')) { // 非IE下载
                        const elink = document.createElement('a')
                        elink.download = fileName
                        elink.style.display = 'none'
                        elink.href = URL.createObjectURL(blob)
                        document.body.appendChild(elink)
                        elink.click()
                        URL.revokeObjectURL(elink.href) // 释放URL 对象
                        document.body.removeChild(elink)
                    } else { // IE10+下载
                        navigator.msSaveBlob(blob, fileName)
                    }
                    loading.close();
                }).catch(function (error) {
                    console.log(error);
                    loading.close();
                });
            },
            validataForm() {
                //表单验证
                $('#myForm').bootstrapValidator({
                    message: '',
                    feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        //license: {
                        //    validators: {
                        //        notEmpty: {
                        //            message: '车牌号不能位空'
                        //        }
                        //    }
                        //},
                        //mac: {
                        //    validators: {
                        //        notEmpty: {
                        //            message: '识别码不能位空'
                        //        }
                        //    }
                        //},
                        //unitid: {
                        //    validators: {
                        //        notEmpty: {
                        //            message: '单位不能位空'
                        //        }
                        //    }
                        //}
                    }
                });
            }
        },
        mounted() {
            this.getTableData();
            this.queryUnitTree();
        },
    });
</script>

